.navbar-default {
    background-color: #191928;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
	padding-top: 25px;
	padding-bottom: 25px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #3fa8f4;
}

.navbar {
 
    min-height: 70px;
}

.navbar-toggle {
	margin-top:15px;
}


.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee;
	
}

.feature{
	padding-left:0;
	padding-right:20px;}

.featureh1{
	font-size:22px;
	margin-bottom:20px;}
	
	
.featurep{
	line-height:22px;}
	
.featuresocial{
	padding-top:40px;
	}
	
.featuresocial a{
	padding-right:10px;}
	
	
.listing{

	
	}
.listh1{
	margin-top:10px;
	font-size:16px;}

@media screen and (max-width: 992px)  { 

.navbar-right {
    
    font-size: 13px;



}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color:  #3fa8f4;
}

}

@media screen and (max-width: 750px)  {


.navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-bottom: 10px;
}}
